[Unit]
Description=JupyterHub
After=syslog.target network.target

[Service]
User=root
EnvironmentFile=/opt/jupyterhub/env
PassEnvironment=JUPYTERHUB_CRYPT_KEY
ExecStart=/opt/jupyterhub/bin/jupyterhub -f /opt/jupyterhub/etc/jupyterhub/jupyterhub_config.py

[Install]
WantedBy=multi-user.target
